/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --bg-color: #000028;

  --font-text-color: #f1b2ce;
  --font-headers-color: #3a3a49;
  --font-header-color: #db00ff;

  --main-font: "IBM Plex mono", sans-serif;
  --background-image: url(../images/cover-image-dark.png);
}
