/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --accent-color: #ff8dcb;
  --bg-color: #353430;
  --font-text-color: #353430;
  --font-headers-color: #353430;
  --font-header-color: #ffc2e6;
  --main-grid-title-decor-color: #353430;
  --header__theme-menu-button-color: #353430;
  --rec_pseudo-color: #353430;
  --button-hover-color: #353430;
  --logo-decoration-shadow-color: #ff0070;
  --logo-decoration-shadow-color-light: #ff8dcb;
  --link-shadow-color: #f1b2ce;
}

.theme_light.page {
  --background-image: url(../images/cover-image-light.png);
}

.theme_light .rec_pseudo::before {
  visibility: hidden;
}

.theme_light .rec_pseudo::after {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --bg-color: #353430;
    --font-text-color: #353430;
    --font-headers-color: #353430;
    --font-header-color: #ffc2e6;
    --main-grid-title-decor-color: #353430;
    --header__theme-menu-button-color: #353430;
    --rec_pseudo-color: #353430;
    --button-hover-color: #353430;
    --logo-decoration-shadow-color: #ff0070;
    --logo-decoration-shadow-color-light: #ff8dcb;
    --link-shadow-color: #f1b2ce;
  }

  .rec_pseudo::before {
    visibility: hidden;
  }

  .rec_pseudo::after {
    visibility: hidden;
  }
}