/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --bg-color: #000028;

  --font-text-color: #f1b2ce;
  --font-headers-color: #3a3a49;
  --font-header-color: #db00ff;

  --main-font: "IBM Plex mono", sans-serif;
/*   --background-image: url(../images/cover-image-dark.png); */
}